* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(28, 35, 41, 0.9);
}

#container {
    min-width: 900px;
    max-width: 1200px;
    background: #1c2329;
    min-height: 100vh;
}

.post {
    border-top: 1px solid #fe921f;
    padding-top: 15px;
}

.post:last-child {
    border-bottom: 1px solid #fe921f;
}

.publication {
    margin: 35px 15px 60px 15px;
}

.feed {

}

.del_btn {
    text-align: right;
    display: inline-block;
    width: 20%;
}

.post_btn {
    background: #fe921f;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    padding: 10px 35px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    border: none;
}

.post_text {
    min-width: 869px;
    max-width: 1150px;
    min-height: 100px;
    resize: none;
}

p {
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}


a {
    color: #fe921f;
    text-decoration: underline;
}


a:hover {
    color: #ffffff
}

.post_btn_label {
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block;
}

.date {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
}

