<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeFeed | Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="container">
        <div>
            <p th:text="${userData.name}"></p>
            <p th:text="${userData.surname}"></p>
            <p th:text="${userData.username}"></p>
            <div>
                <form method="post" th:action="@{'/feed/subscribe/' + ${userData.id}}">
                    <div>
                        <input class="post_btn" type="submit" value="Subscribe!">
                    </div>
                </form>
            </div>
        </div>
        <div class="feed">
            <!--/*@thymesVar id="post" type="ua.kongross.lifefeed.web.dto.FeedDto.FeedPost"*/-->
            <div class="post" th:each="post: ${feed}">
                <p th:text="${post.authorUsername}"></p>
                <p th:text="${post.text}"></p>
                <p class="date" th:text="${post.createdAt}"></p>
                <a class="del_btn" th:href="@{'/post/' + ${post.id}}" th:if="${post.removable}">DELETE</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>